# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment
.env
.env.*

# Logs / coverage
coverage/
logs/
*.log

# Tokens / sessions
.tokens/
tokens/

# Build outputs
dist/
build/

# OS / editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
awscliv2.zip
